.about_main {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 9px;
    margin: 50px 50px;
    padding: 30px;
    color: #4d4d4d;
}

.about_description {
    text-align: justify;
}

.about_description p {
    text-indent: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: .05rem;
}

.about_description p a {
    color: #5970FF;
}


.about_title {
    padding: 10px;
    text-align: center;
    line-height: 1.5em;
    letter-spacing: .1rem;
}
.education {
    line-height: 1.2em;
    font-size: 20px;
    letter-spacing: .05rem;

}
.education_dop {
    margin: 0 auto;
}
.education_dop_img {
    display: flex;
}
.learning_head {
    height: 35px;
    width: 35px;
    margin-right: 10px;
}


.education_base {

    margin: 10px auto;

}
.education_base_img {
    display: flex;
}
.education_cap {
    height: 35px;
    width: 35px;
    margin-right: 10px;
}

.about_me {
    line-height: 1.5em;
    text-indent: 20px;
    text-align: justify;
    font-size: 20px;
    letter-spacing: .05rem;
}

.contacts {
    display: flex;
    justify-content: center;

}

.contacts a {
    transition: transform 0.4s ease;
}

.contacts a:hover {
    transform: scale(1.2);
}

.contacts img {
    height: 30px;
    width: 30px;
    margin: 20px;
    cursor: pointer;
}